version: "3.9"

services:
  db:
    image: postgres:16
    container_name: eventapp_db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: eventapp_db
    volumes:
      - pgdata:/var/lib/postgresql/data

  backend:
    build: .
    container_name: flask_api
    restart: always
    ports:
      - "5050:5050"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - .:/app
    dns:
      - 8.8.8.8  # ➕ Google DNS für funktionierende Domain-Auflösung

volumes:
  pgdata:
